{% extends 'AcmeDashboardBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <h1>Weight list</h1>

    <table class="records_list large-12 columns">
        <thead>
            <tr>
                <th>Id</th>
                <th>Points</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('weight_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.points }}</td>
                <td>{{ entity.active }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('weight_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('weight_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('weight_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>

</div>
    {% endblock %}
