<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
         <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
        <title>{% block title %} Welcome!{% endblock %}</title>

        {% stylesheets '@AcmeDashboardBundle/Resources/public/css/*' filter='cssrewrite' %}

            <link rel="stylesheet" href="{{ asset_url }}" />

        {% endstylesheets %}

        <script type="text/javascript">
            var CREATE_QR_PATH = "{{ path('acme_dashboard_create', { 'name': app.user.username }) }}";
            var STATISTICS_PATH = "{{ path('acme_dashboard_statistics', { 'name': app.user.username }) }}";

            var GET_DATA_PATH = "{{path('acme_dashboard_getdata')}}";
        </script>

        {% block stylesheets %}{% endblock %}

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script src="//cdn.jsdelivr.net/foundation/4.3.2/js/vendor/custom.modernizr.js"></script>

    </head>
    <body style="">
        {% block body %}



        {% endblock %}
  
            <!-- sidebar -->
 

        <!-- JS  -->

        <script src="//cdn.jsdelivr.net/foundation/4.3.2/js/foundation.min.js"></script>

        {% javascripts
            '@AcmeDashboardBundle/Resources/public/js/jquery.windows.js'
            '@AcmeDashboardBundle/Resources/public/js/statistics.js'
            '@AcmeDashboardBundle/Resources/public/js/main.js'
        %}

        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}

        {% block javascripts %}{% endblock %}

        <!-- JS  -->
    </body>
</html>
