{% extends 'AcmeDashboardBundle::layout.html.twig' %}
{% block body %}


        <section id="0" class="window">
            <div class="content">
                    <h1>Loyalty</h1>
                    <h2>Get your qrcodes right now</h2>
            </div>
        </section>

        <section id="1" class="window">
            <div class="content">
                <h2>
                Loyalty<br/>
                | -- QRcode<br/>
                | -- | -- <span class="highlight"><a class="content_nav" href="#create">Create</a></span><br/>
                | -- Statistics & Reports<br/>
                | -- | -- <span class="highlight"><a class="content_nav" href="#statistics">Statistics</a></span><br/>
                | -- | -- <span class="highlight">
                				<a class="small button content_nav" href="{{ path('acme_dashboard_reports', { 'name': app.user.username }) }}">Reports</a></span><br/>
                | -- Settings<br/>
                | -- | -- <span class="highlight"><a class="content_nav" href="#settings">Weights</a></span><br/>
                | -- | -- <span class="highlight"><a  class="content_nav" href="#settings">QRcodes</a></span><br/>
                | -- Info <br/>
                | -- | -- <span class="highlight"><a class="content_nav" href="#info">How it works</a></span>
                </h2>
            </div>
        </section>

        <section id="2" class="window">
        	<a name="create"></a>
            <div class="content" id="code_generator">

            	<img src="{{asset('images/loader.GIF')}}" />

            </div>
        </section>

        <section id="3" class="window">
        	<a name="statistics"></a>
            <div class="content" id="statistics_and_reports">
            	                
            	<img src="{{asset('images/loader.GIF')}}" />

            </div>
        </section>

        <section id="4" class="window">
        	<a name="settings"></a>
            <div class="content">
                <div>
                    <a class="settings_link" target="_blank" href="/weight/index">
                        <img src="{{asset('images/weight.png')}}" />
                        <div >Weights</div>
                    </a>
                    <a class="settings_link" target="_blank" href="/qrcode/index">
                        <img src="{{asset('images/qrcode.png')}}" />
                        <div >QRcodes</div>
                    </a>
                </div>
            </div>

        </section>

        <section id="5" class="window">
        	<a name="info"></a>
            <div class="content">
                <div>Marko Nikolic</div>
            </div>
        </section>

		<div id='fixed-bar'>
		  <div id='bar-inner'>
		    <a class='go-top' href='#page-wrapper' title='back to top'>Back to Top</a>
		    <div class="logout_wrap">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="username_bar">Hi {{ app.user.username }}</div>
                    <a class="logout_link" href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}  
		    </div>
		  </div>
		</div>

        <script>

            $(document).ready(function(){

                var $windows = $('.window');

                $windows.windows({
                    snapping: true,
                    snapSpeed: 500,
                    snapInterval: 1100,
                    onScroll: function(s){},
                    onSnapComplete: function($el){},
                    onWindowEnter: function($el){}
                });

                $(function () {
				  $("#fixed-bar")
				    .css({position:'fixed',bottom:'0px'})
				    .hide();
				  $(window).scroll(function () {
				    if ($(this).scrollTop() > 400) {
				      $('#fixed-bar').fadeIn(200);
				    } else {
				      $('#fixed-bar').fadeOut(200);
				    }
				  });
				  $('.go-top').click(function () {
				    $('html,body').animate({
				      scrollTop: 0
				    }, 1000);
				    return false;
				  });
				});

            });
        </script>


{% endblock %}