
{% block body %}
	<div class="row">
		<div class="large-6 columns">
			<div class="row">
				<div class="large-12 centered columns">Details:</div>
			</div>	
			<div class="row">
				<div class="large-4 columns">Created:</div>
				<div class="large-8 columns">{{created|date('Y-m-d H:i:s')}}</div>
			</div>
			<div class="row">
				<div class="large-4 columns">Filename:</div>
				<div class="large-8 columns">{{filename}}</div>
			</div>
			<div class="row">
				<div class="large-4 columns">Weight:</div>
				<div class="large-8 columns">{{weight}}</div>
			</div>
		</div>
		<div class="large-6 columns">
			<img src="{{url}}" style="width:250px; height:250px;" />
		</div>
	</div>
	<div class="row">
		<div class="large-4 column">
			<input type="button" class="pure-button pure-button-secondary" id="sendEmail" value="Send to mail:">
			<input type="hidden" id="filename" name="filename" value="{{filename}}" />
			<input id="email" name="email" />
		</div>
		<div class="large-4 column">
			<button class="pure-button pure-button-secondary" onclick="window.print();"> Print </button>	
		</div>
	</div>


{% endblock %}